<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Company Portal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/site.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="client.js"></script>
        <style>
          th{
            text-align: center;
          }
        </style>
  </head>
<body>
  <div class="w3-sidebar w3-blue w3-bar-block" style="width:20%">
    <h3 class="w3-bar-item">Company Portal</h3>
    <a href="#" onclick="homeClicked()" class="w3-bar-item w3-button active">Home</a>
    <a href="#" onclick="addJobClicked()" class="w3-bar-item w3-button">Add Job</a>
    <a href="#" onclick="viewJobClicked('{{email}}')" class="w3-bar-item w3-button">View Job</a>
    <a href="#" onclick="applicationClicked('{{email}}')" class="w3-bar-item w3-button">Applications</a>
    <a href="#" onclick="companyProfileClicked('{{id}}')" class="w3-bar-item w3-button">Profile</a>
    <a href="#" onclick="viewFeedbacksClicked('{{email}}')" class="w3-bar-item w3-button">View Feedbacks</a>
    <a href="#" onclick="changePasswordClicked()" class="w3-bar-item w3-button">Change Password</a>
    <a href="/logout" class="w3-bar-item w3-button">Log-Out</a>
  </div>
  
  <!-- Page Content -->
  <div id="home" style="margin-left:20%">
    <br/>
    <h1>Dashboard</h1>
    <h2 class="w3-green">Welcome {{email}}</h2>
  </div>
  <div id="addjob" style="margin-left:25%; width:70%;">
    <br/>
     <form id="job-form" class="row">
      <h1>
        Post A Job
       </h1>
       <h3 class="text-danger" id="job-form-error" style="display:none"></h3>
       <h3 class="text-success" id="job-form-success" style="display:none"></h3>
       <div class="row col-md-12">
         <div class="col-md-6">
       <label>Job Title : </label>
        <input class="form-control" type="text" id="title" name="title" value="{{title}}" placeholder="eg. Professional UI/UX Designer"/>
      </div>
      <div class="col-md-6">
        <label>Job Type : </label>
       <select class="form-control" type="text" id="jobtype" name="jobtype">
         <option></option>
         <option value="Internship">Internship</option>
         <option value="Part Time">Part Time</option>
         <option value="Full Time">Full Time</option>
        </select>
        </div>
      </div>
        <div class="row col-md-12">
          <div class="col-md-6">
         <label>Field Type : </label>
         <input class="form-control" type="text" id="fieldtype" name="fieldtype" value="{{fieldtype}}" placeholder="eg. IT / CIVIL"/> 
        </div>
        <div class="col-md-6">
         <label>Location : </label>
         <input class="form-control" type="text" id="location" name="location" value="{{location}}" placeholder="Location"/> 
        </div>
      </div>
         <div class="row col-md-12">
          <div class="col-md-6">
         <label>Job Description : </label>
         <input class="form-control" type="text" id="description" name="description" value="{{description}}" placeholder="eg. Add detail about your job"/> 
        </div>
        <div class="col-md-6">
         <label>Experience : </label>
         <input class="form-control" type="text" id="experience" name="experience" value="{{experience}}" placeholder="eg. Experience in Year"/> 
        </div>
      </div>
         <div class="row col-md-12">
          <div class="col-md-6">
         <label>Salary : </label>
         <input class="form-control" type="number" id="salaryrange" name="salaryrange" value="{{salaryrange}}" placeholder="Approx Salary"/> 
        </div>
        <div class="col-md-6">
         <label>Vacancy : </label>
         <input class="form-control" type="number" id="vacancy" name="vacancy" value="{{vacancy}}" placeholder="Vacancy"/>
         <input type="hidden" id="status" name="status" value="show" /> 
        </div>
    </div>
        <div class="col-md-12 row">
          <br/>
        <div class="col-md-12">
        <button type="button" class="btn btn-primary" onclick="submitJobForm('{{email}}')">Create Job</button>
        </div>
      </div>
        </form>
  </div>
  <div id="viewjob" style="margin-left:25%; width:70%;">
    <br/>
    <div id="joblist-table">
    <h1>Job List</h1>
      <br/>
    <table id="joblist-company" class="table">
     
    </table>
    </div>
    <div id="job-edit-div">
      <form id="job-form-edit" class="row">
        <h1>
          Edit A Job
         </h1>
         <h3 class="text-danger" id="ejob-form-error" style="display:none"></h3>
         <h3 class="text-success" id="ejob-form-success" style="display:none"></h3>
         <div class="row col-md-12">
           <div class="col-md-6">
            <input type="hidden" id="eid" name="id"/> 
            <label>Job Title : </label>
          <input readonly class="form-control" type="text" id="etitle" name="title" value="{{title}}" placeholder="eg. Professional UI/UX Designer"/>
        </div>
        <div class="col-md-6">
          <label>Job Type : </label>
         <select class="form-control" type="text" id="ejobtype" name="jobtype">
           <option></option>
           <option value="Internship">Internship</option>
           <option value="Part Time">Part Time</option>
           <option value="Full Time">Full Time</option>
          </select>
          </div>
        </div>
          <div class="row col-md-12">
            <div class="col-md-6">
           <label>Field Type : </label>
           <input readonly class="form-control" type="text" id="efieldtype" name="fieldtype" value="{{fieldtype}}" placeholder="eg. IT / CIVIL"/> 
          </div>
          <div class="col-md-6">
           <label>Location : </label>
           <input class="form-control" type="text" id="elocation" name="location" value="{{location}}" placeholder="Location"/> 
          </div>
        </div>
           <div class="row col-md-12">
            <div class="col-md-6">
           <label>Job Description : </label>
           <input class="form-control" type="text" id="edescription" name="description" value="{{description}}" placeholder="eg. Add detail about your job"/> 
          </div>
          <div class="col-md-6">
           <label>Experience : </label>
           <input class="form-control" type="text" id="eexperience" name="experience" value="{{experience}}" placeholder="eg. Experience in Year"/> 
          </div>
        </div>
           <div class="row col-md-12">
            <div class="col-md-6">
           <label>Salary : </label>
           <input class="form-control" type="number" id="esalaryrange" name="salaryrange" value="{{salaryrange}}" placeholder="Approx Salary"/> 
          </div>
          <div class="col-md-6">
           <label>Vacancy : </label>
           <input class="form-control" type="number" id="evacancy" name="vacancy" value="{{vacancy}}" placeholder="Vacancy"/>
          </div>
      </div>
      <input class="form-control" type="hidden" id="estatus" name="status" value="{{status}}"/>
      <!--
      <div class="row col-md-12">
      <div class="col-md-6">
        <label>Status : </label>
       <select class="form-control" type="text" id="estatus" name="status">
         <option></option>
         <option value="show">show</option>
         <option value="hide">hide</option>
        </select>
        </div>
        </div>    
      -->  
          <div class="col-md-12 row">
            <br/>
          <div class="col-md-12">
          <button type="button" class="btn btn-primary" onclick="submitEditJobForm('{{email}}')">Edit Job</button>
          </div>
        </div>
          </form>
    </div>
  </div>
  <div id="application" style="margin-left:25%; width:70%;">
      <br/>
      <h1>Job Seeker's Applications</h1>
      <br/>
      <table id="applicationlist-company" class="table">
        <tr>
          <th>Candidate Name</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Job Title</th>
          <th>Job Type</th>
          <th>Resume</th>
        </tr>
      </table>
  </div>
  <div id="companyprofile" style="margin-left:25%; width:70%;">
    <br/>
    <form id="signup-edit-form">
      <h1>Update Profile</h1>
      <br/>
      <h3 class="text-danger" id="updatep-form-error" style="display:none"></h3>
         <h3 class="text-success" id="updatep-form-success" style="display:none"></h3>
      <div class="col-md-12 row">
      <div class="col-md-6">
        <label>Full Name : </label>
      <input type="hidden" id="pid" name="id" value="" />
      <input class="form-control" type="text" id="pfullname" name="fullname" value="{{fullname}}" placeholder="Full Name"/>
    </div>
    <div class="col-md-6">
      <label>Contact No : </label>
      <input class="form-control" type="text" id="pcontactno" name="contactno" value="{{contactno}}" placeholder="Contact No : xxx-xxx-xxxx"/>
      </div>
      </div>
      <div class="col-md-12 row">
        <div class="col-md-6">
        <label>Address : </label>
      <input class="form-control" id="paddress" name="address" value="{{address}}" placeholder="Address" />
      </div>
      <div class="col-md-6">
      <label>Email : </label>
      <input class="form-control" type="email" id="pemail" name="email" value="{{email}}" placeholder="Email" disabled=true/>
    </div>  
    </div>
      <div class="col-md-12 row" style="margin-top:30px;">
      <input type="hidden" id="peducation" name="education" value="" />
      <div class="col-md-6">
      <label>Logo : </label>
      <img id="pblah" src="" />
      </div>
      <div class="col-md-6">
      <input id="plogo" class="form-control" type="file" onchange="getBase64(this)" name="logo">
      <br/>
      <button type="button" class="btn btn-primary" onclick="submitUpdateProfileForm('{{id}}')">Update</button>
        </div>
    </div>
    </form>
  </div>
  <div id="viewFeedbacks" style="margin-left:20%;">
    <br/>
    <h1>Feedbacks From Job Seekers</h1>
    <br/>
    <table id="feedbacks-list" class="table">
      
    </table>
  </div>
  <div id="changePassword" style="margin-left:25%; width:70%;">
    <br/>
    <form id="change-password-form">
      <h1>Change Password</h1>
      <h3 class="text-danger" id="cp-form-error" style="display:none"></h3>
         <h3 class="text-success" id="cp-form-success" style="display:none"></h3>
      <br/>
      <label>New Password :</label>
      <input type="hidden" name="email" value="{{email}}"/>
      <input class="form-control" style="width:50%; margin-left:25%;" type="password" id="password" name="password" value="{{password}}" placeholder="New Password" />
      <br/>
      <button type="button" class="btn btn-primary" onclick="submitChangePasswordForm('{{email}}')">Change Password</button>
    </form>
</div>
</body>
</html>