<head>
    <meta charset="utf-8" />
    <title>Job Seeker Portal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/site.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="client.js"></script>
        <style>
          th{
              text-align: center;
          }
      </style>
  </head>
<body>
  <div class="w3-sidebar w3-red w3-bar-block" style="width:20%">
    <h3 class="w3-bar-item">Job Seeker Portal</h3>
    <a href="#" onclick="homeClicked()" class="w3-bar-item w3-button active">Home</a>
    <a href="#" onclick="searchJobClicked('{{id}}')" class="w3-bar-item w3-button">Search Jobs</a>
    <a href="#" onclick="viewApplicationsClicked('{{id}}')" class="w3-bar-item w3-button">View Applications</a>
    <a href="#" onclick="profileClicked('{{id}}')" class="w3-bar-item w3-button">Profile</a>
    <a href="#" onclick="feedbackClicked('{{id}}','{{email}}')" class="w3-bar-item w3-button">Feedback</a>
    <a href="#" onclick="changePasswordClicked()" class="w3-bar-item w3-button">Change Password</a>
    <a href="/logout" class="w3-bar-item w3-button">Log-Out</a>
  </div>
  
  <!-- Page Content -->
  <div id="home" style="margin-left:20%">
    <br/>
    <h1>Dashboard</h1>
    <h2 class="w3-blue">Welcome {{email}}</h2>
  </div>
  <div id="searchjob" style="margin-left:20%">
    <br/>
    <div id="joblist-table">
    <h1>Job List</h1>
      <br/>
    <table id="joblist-company" class="table">
      <tr>
        <th>Company</th>
        <th>Job Title</th>
        <th>Job Type</th>
        <th>Field</th>
        <th>Job Location</th>
        <th>Job Description</th>
        <th>Experience</th>
        <th>Salary</th>
        <th>Vacancy</th>
        <th>Rating</th>
        <th>Apply</th>
      </tr>
    </table>
    </div>
 </div>
 <div id="viewapplicaions" style="margin-left:20%;">
  <br/>
  <h1>Application List</h1>
  <br/>
  <table id="applicationlist" class="table">
    <tr>
      <th>Job Title</th>
      <th>Job Type</th>
      <th>Job Location</th>
      <th>Salary</th>
      <th>Vacancy</th>
    </tr>
  </table>
</div>
<div id="profile" style="margin-left:25%; width:70%;">
  <br/>
    <form id="signup-edit-form">
      <h1>Update Profile</h1>
      <br/>
      <h3 class="text-danger" id="updatep-form-error" style="display:none"></h3>
         <h3 class="text-success" id="updatep-form-success" style="display:none"></h3>
      <div class="col-md-12 row">
      <div class="col-md-6">
        <label>Full Name : </label>
      <input type="hidden" id="pid" name="id" value="" />
      <input class="form-control" type="text" id="pfullname" name="fullname" value="{{fullname}}" placeholder="Full Name"/>
    </div>
    <div class="col-md-6">
      <label>Contact No : </label>
      <input class="form-control" type="text" id="pcontactno" name="contactno" value="{{contactno}}" placeholder="Contact No : xxx-xxx-xxxx"/>
      </div>
      </div>
      <div class="col-md-12 row">
        <div class="col-md-6">
        <label>Address : </label>
      <input class="form-control" id="paddress" name="address" value="{{address}}" placeholder="Address" />
      </div>
      <div class="col-md-6">
      <label>Email : </label>
      <input class="form-control" type="email" id="pemail" name="email" value="{{email}}" placeholder="Email" disabled=true/>
    </div>  
    </div>
      <div class="col-md-12 row" style="margin-top:30px;">
      <input type="hidden" id="peducation" name="education" value="" />
      <div class="col-md-6">
      <label>Resume : </label>
      <img id="pblah" src="" />
      </div>
      <div class="col-md-6">
      <input id="presume" class="form-control" type="file" name="resume">
      <br/>
      <button type="button" class="btn btn-primary" onclick="submitUpdateProfileForm('{{id}}')">Update</button>
        </div>
    </div>
    </form>
</div>
<div id="feedback" style="margin-left:20%;">
  <br/>
  <h1>Give Feedback</h1>
  <br/>
  <table id="feedbackList" class="table">
  </table>
  <div id="feedback-form-div">
    <form id="feedback-form">
      <h2 id="cname"></h2>
      <br/>
      <h3 class="text-danger" id="rating-error" style="display:none"></h3>
      <div class="row col-lg-12">
      <input type="hidden" name="userId" id="userId"  />
      <input type="hidden" name="companyId" id="companyId" />
        <div class="col-md-9">
          <label>Comment : </label>
      <input class="form-control" type="text" name="comments" id="comments" placeholder="comments" />
    </div>
    <div class="col-md-3">
      <label>Rating : </label>
      <select class="form-control" name="rating" id="rating">
        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
        <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
        <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
        <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
        <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
      </select>
      
  </div>
  <div class="col-md-12" style="margin-top:30px;">
      <button type="button" class="btn btn-primary" onclick="submitRatingForm('{{id}}')">Submit</button>
    </div>
  </div>
    </form>
  </div>
</div>
<div id="changePassword" style="margin-left:25%; width:70%;">
  <br/>
    <form id="change-password-form">
      <h1>Change Password</h1>
      <h3 class="text-danger" id="cp-form-error" style="display:none"></h3>
         <h3 class="text-success" id="cp-form-success" style="display:none"></h3>
      <br/>
      <label>New Password :</label>
      <input type="hidden" name="email" value="{{email}}"/>
      <input class="form-control" style="width:50%; margin-left:25%;" type="password" id="password" name="password" value="{{password}}" placeholder="New Password" />
      <br/>
      <button type="button" class="btn btn-primary" onclick="submitChangePasswordForm('{{email}}')">Change Password</button>
    </form>
</div>
</body>